<html lang="en">
<head>
  <title>Demo Flask-Vite</title>
  {{ vite_tags() }}
</head>
<body class="bg-gray-100">
<div class="max-w-3xl mx-auto sm:px-6 lg:max-w-7xl my-8">
    <h1 class="text-3xl font-bold text-center">Demo Flask-Vite</h1>
    <div class="mt-8">
        <div id="app"></div>
    </div>
</div>
</body>
</html>