{% extends 'layout.j2' %}

{% block content %}
    <div class="card w-96 bg-base-100 shadow-xl">
        <figure>
            <img src="{{ snippet }}" />
        </figure>
        <div class="card-body">
            <div class="card-actions justify-end">
                <a class="btn btn-primary" href="{{ '/' }}">Back</a>
            </div>
        </div>
    </div>
{% endblock %}